* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  height: 400vh;
}

html {
  background-color: springgreen;
}

.center {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  animation: girar linear forwards;
  animation-timeline: scroll(y root);
}

.girasol {
  background-color: #262626;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .leaf {
    position: absolute;
    width: 90px;
    height: 180px;
    background-color: yellow;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: rotate(calc(360deg / 12 * var(--d)));
    box-shadow: 0 0 15px #0004;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: orange;
      border-radius: 50%;
      width: 80%;
      height: 90%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: yellowgreen;
      border-radius: 50%;
      width: 70%;
      height: 80%;
    }
  }

  .center {
    position: absolute;
    width: 110%;
    height: 110%;
    background-image: radial-gradient(closest-corner at 60% 55%, black, brown);
    background-size: 6px 6px;
    border-radius: 50%;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0 0 15px #0004;
    z-index: 100;

    .container-items {
      transform: rotate(-45deg);
      top: 50%;
      left: 50%;
      position: absolute;
      z-index: -20;
    }

    .item {
      position: absolute;
      width: 80px;
      height: 120px;
      background-color: lime;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform-origin: 0% 0%;
      transform: rotate(calc(3005000deg / -80 * var(--d)));
      box-shadow: 0 0 15px #0004;
    }
  }
}

@keyframes girar {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}

@keyframes girar-mobile {
  from {
    transform: translate(-50%, -50%) rotate(0deg) scale(.7);
  }

  to {
    transform: translate(-50%, -50%) rotate(359deg) scale(.7);
  }
}

@media (width <=1300px) {
  .center,
  .girasol {
    transform: translate(-50%, -50%) scale(.7)
  }

  .center {
    animation: girar-mobile linear forwards;
    animation-timeline: scroll(y root);
  }
}